<body class="search-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                
                    <img src="assets/Images/mivi-icons.ico"class="rounded float-left" height="60px" width="80px" />
                 
                    <label class="text-info" style="cursor:pointer"> &nbsp; MIVI</label>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                   
                    <ul class="navbar-nav flex-grow-1">

                        
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contents
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    <a class="dropdown-item" routerLink="/add-category" >Category</a>
                                    <a class="dropdown-item" routerLink="/subcategory" >Sub Category</a>
                                    <a class="dropdown-item"  routerLink="">Items</a>
                                    <a class="dropdown-item" routerLink="">Coupons</a>
                                    <a class="dropdown-item" routerLink="">Users</a>

                                </div>

                            </li>
                        

                            <li class="nav-item">
                                <a routerLink="" class="nav-link">
                                    Order History
                                </a>
                            </li>
                        
                       



                     
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Order
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                   
                                        <a class="dropdown-item" routerLink="">Manage Order</a>
                                    
                                   
                                        <a class="dropdown-item" routerLink="">Order Pickup</a>
                                    
                                </div>

                            </li>
                        

                            <li style="color:white">
                                <a routerLink="">
                                    
                                    <i class="fas fa-shopping-cart"></i> &nbsp; 
                                </a>
                            </li>
                       
                            <li style="color:white">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                                </a>
                            </li>
                        

                       
                    <li class="nav-item">
                        <a href="" class="nav-link">
                         About Us  
                        </a>
                    </li>
                        

                       
                            <li class="nav-item">
                                <a  class="nav-link">
                                    Support
                                </a>
                            </li>
                      



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    </body>

